<head>
    <meta charset="utf-8">
    {% if page.title %}
    <title>{{page.title}} | Officernd</title>
    {% else %}
    <title>Officernd - Create the office space your team loves.</title>
    {% endif %}
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta name="description" content="Officernd Help : ">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/stylesheet.css">
    <link rel="icon" type="image/png" href="favicon.png" />
</head>
