<div class="list-group">
    <a href="/" class="list-group-item">Home</a>
    <a href="/gettingstarted.html" class="list-group-item">Getting Started</a>
    <a href="/releasehistory.html" class="list-group-item">Release History</a>
    <!--<a href="/concepts.html" class="list-group-item">Offices, Rooms and Desks</a>
    <a href="/room-types.html" class="list-group-item">Room Types</a>
    <a href="/access-management.html" class="list-group-item">Access Management</a>
    <a href="/user-roles.html" class="list-group-item">Member Roles</a>-->
    <!--{% for page in site.pages %}-->
        <!--{% unless page.ignored %}-->
        <!--<a href="{{ page.url }}" class="list-group-item">{{ page.title }}</a>-->
        <!--{% endunless %}-->
    <!--{% endfor %}-->
</div>


