<div class="list-group">
    <a href="/" class="list-group-item">Index</a>
    <a href="/gettingstarted" class="list-group-item">Getting started</a>
    <a href="/organization" class="list-group-item">Manage your Organization</a>
    <a href="/user-roles" class="list-group-item">User roles</a>
    <span>||{{ site.posts }}||</span>
    <ul>
        {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
